.self-schedule-time-select-dialog {
    position:relative;
}
.timeselector {
    text-align:center;
    float:left;
    width:23%;
    margin:1%;
}
.timeselector .m_btn {
    font-size:12px;
    padding:4px 6px;
    border:none;
}
.timeselector .m_btn.disabled {
    background:none;
    color:#AAA;
    box-shadow: 0 2px 3px #ddd;
}

.selected-self-schedule-time {
    padding:10px;
    text-align:center;
    font-weight:bold;
}
#self-schedule .title {
    padding:0 10px;
}
#self-schedule .manage-assistant {
    overflow:hidden;
    padding:10px;
    text-align:left;
    font-size:12px;
}
#self-schedule .manage-assistant figure {
    padding:0px;
    margin:0px;
    float:left;
    width:120px;
}

.green-txt {
    color: #1db230;
}


.office-appts-item {
    width:90%;
    margin:5px auto;
}
.office-appts-item p.b {
}
.office-appts-item figure img.user {
    width:200px;
}
.agency_text {
    margin:10px 0;
    padding:20px;
    background:#FEE;
    text-align:left;
}

.client-appts-item {
    width:90%;
    padding:10px;
    margin:10px auto;
    background:#F2F0F2;
}
.client-appts-item .text {
    width:90%;
    margin:5px auto;    
}
.client-appts-item h4 {
    margin:5px 0;
    padding:0;
    font-size:14px;
}
.client-appts-item .map {
    width:100%;
    margin:5px 0;
    border:0px;
    padding:0px;
}
.client-appts-item .map img {
    border:none;
    padding:0px;
    margin:0px;
    width:100%;
}
.client-appts-item span.client-block {
    display:block;
    margin:10px;
    overflow:hidden;
}
.client-appts-item span.client-block .l {
    float:left;
    width:30%;
    text-align:right;
    margin-right:10px;
}
.client-appts-item span.client-block .r {
    float:left;
    width:60%;
    text-align:left;
}
p.usr-link {
    margin:10px;
    text-align:center;
}
